#da{
	width: 1100px;
	/*height: 200px;*/
	background: ;
	margin: auto;
	
}
#tips{
	width: auto;
	height: 30px;
	background: ;
}

/*#da1{
	width: 1000px;
	height: 600px;
	background: red;
	margin-left: 210px;
	
}*/
li{
	display: block;
	width: 200px;
	height: 200px;
	float: left;
	list-style: none;
}
/*#tu1{
	width: 150px;
	height: 180px;
	background: ;
	margin-left:25px;
	margin-top:10px;
	float: left;
}
#tu2{
	width: 150px;
	height: 180px;
	background: ;
	margin-left:25px;
	margin-top:10px;
	float: right;
	margin-right: 120px;
}
#tu3{
	width: 150px;
	height: 180px;
	background: ;
	margin-left:25px;
	margin-top:10px;
	float: right;
}
#tu4{
	width: 150px;
	height: 180px;
	background: ;
	margin-left:25px;
	margin-top:10px;
	float: right;
}
#tu5{
	width: 150px;
	height: 180px;
	background: ;
	margin-left:25px;
	margin-top:10px;
	
	float: right;
}
#tu6{
	width: 150px;
	height: 180px;
	background: ;
	margin-left:25px;
	margin-top:10px;
	float: left;
}
#tu7{
	width: 150px;
	height: 180px;
	background: ;
	margin-left:30px;
	margin-top:10px;
	float: left;
	
}*/
/*#anniu{
	width: 1300px;
	height: 50px;
	background:;
	
	
}
#anniukuang{
	width: 110px;
	height: 40px;
	background: red;
	margin-left: 610px;
	margin-top: 5px;
	border: solid 1px #909090;
}
#anniu1{
	width: 90px;
	height: 30px;
	background: blue;
	margin-top: 10px;
	margin-left: 15px;

}*/
#btndiv {
	clear: both;
}
#btn {
	width:100px;
	display: block;
	margin: 0 auto;
	border:1px solid #EE7621;
	text-align:center;
}

p{
	display:inline;
}


#serch{
	width: 400px;
	height: 40px;
	background: ;
	margin-left: 450px;
}
#sou{
	width: 330px;
	height: 30px;
}
#sousuo{
	width: 60px;
	height: 35px;
	background: darkred;
	color: wheat;
}